.skeleton {
    background-color: var(--bg-secondary);
    /* or tertiary based on contrast */
    position: relative;
    overflow: hidden;
    border-radius: var(--radius-sm);
}

.skeleton::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 0,
            rgba(255, 255, 255, 0.2) 20%,
            rgba(255, 255, 255, 0.5) 60%,
            rgba(255, 255, 255, 0));
    animation: shimmer 1.5s infinite;
}

[data-theme="dark"] .skeleton {
    background-color: var(--bg-tertiary);
}

[data-theme="dark"] .skeleton::after {
    background-image: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 0,
            rgba(255, 255, 255, 0.05) 20%,
            rgba(255, 255, 255, 0.1) 60%,
            rgba(255, 255, 255, 0));
}

.skeleton-text {
    height: 1em;
    margin-bottom: 0.5em;
    border-radius: var(--radius-sm);
}

.skeleton-rect {
    height: 100%;
    border-radius: var(--radius-md);
}

.skeleton-circle {
    border-radius: 50%;
}